/* Play */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}
/* Roboto */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

:root {
  --color-dark: #011c44;
  --color-light: #2b7fff;
  --color-white: #ffffff;
}
/* Базові стилі */
ul {
  list-style-type: none;
}
body {
  color: var(--color-dark);
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.link-footer {
  text-decoration: none;
}
/* Шапка сайту */
.link {
  color: var(--color-dark);
  text-decoration: none;
  line-height: normal;
}
.link:hover {
  color: var(--color-light);
  font-weight: 700;
}

/* Головна сторінка */

.hero-title {
  color: var(--color-light);
  font-family: play, sans-serif;
  font-size: 140px;
  line-height: 114px;
  text-transform: capitalize;
}
.button-one {
  color: var(--color-white);
  border-radius: 32px;
  background-color: var(--color-light);
  border: 2px solid var(--color-light);
  cursor: pointer;
  font-weight: 600;
}
.button-one:hover {
  color: var(--color-dark);
  background-color: transparent;
  border: 2px solid #2b7fff;
}
.info {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.5;
}

/* Розділи */

.accent {
  color: var(--color-light);
  font-family: play, sans-serif;
}
.section-title {
  font-family: play, sans-serif;
  font-size: 64px;
}
.section-title .accent-one {
  font-family: play, sans-serif;
  text-transform: capitalize;
}
.section-title-navigation {
  color: var(--color-dark);
  font-family: play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

/* Standards section */
.Standards-text {
  font-size: 22px;
  line-height: 1.72;
  font-weight: 400;
}

.Standards-text span {
  color: var(--color-dark);
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
}
/* Why-us-section */
.advantages {
  color: #000000;
  line-height: 1.3;
}

/* Footer */
.basement {
  background: var(--color-dark);
}
.link-footer {
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.copyright {
  color: #747272;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
